body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #0A1128;
    background-color: #f9fafb;
}


.all-quotations-page {
    padding: 3rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    background-image: radial-gradient(circle, rgba(0,0,0,0.05) 3px, transparent 1px);
    background-size: 40px 40px;
}

.all-quotations-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #000;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px solid #1282A2;
    padding-bottom: 1rem;
}

.all-quotations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.quotation-card-container {
    background-color: #0A1128;
    padding: 1.5rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quotation-card-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.quotation-card-container p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #FEFCFB;
}

.quotation-buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.quotation-card-container button {
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    font-size: 0.85rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-start;
    transition: background-color 0.2s ease;
}

.quotation-card-container .view-quotation {
    background-color: #1282A2;
}

.quotation-card-container .view-quotation:hover {
    background-color: #034078;
}
.quotation-card-container .delete-quotation {
    background-color: #c1121f;
}

.quotation-card-container .delete-quotation:hover {
    background-color: #930f19;
}

.all-quotations-page > button {
    background-color: white;
    color: #0A1128;
    border: 3px solid #0A1128;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

.all-quotations-page > button:hover {
    background-color: #0A1128;
    color: #FEFCFB;
}
